/*
** default flex definitions
*/

* {
  box-sizing: border-box;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */
html, body {
   height : 100%;
   margin :   0;
   padding:   0;

}

body {
   margin       :   0px;
   padding-left :   5px;
   padding-right:   5px;
   margin-bottom:   0px;
   margin-top   :   0px;
   height       : 100%;
}


.divPageContainer {
  display: flex;
  height : calc( 100% - 4em);
}


.resizer { display:flex; margin:0; padding:0; resize:both; overflow:hidden }
.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }
